/* Paragraph 3 - External CSS (Purple, Underline) */
.external-paragraph {
    color: purple;
    text-decoration: underline;
}

/* Highlight 3 - External CSS (Color) */
.external-highlight {
    color: blue;
}

/* Building 3 - External CSS (Color) */
.external-building {
    color: darkgreen;
}
